<form method="get" action="#">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-lg-9">
            <h2 class="mb-4 mt-3">Administracion de usuarios</h2>
        </div>
        <div class="col-md-12 col-sm-12 col-lg-3">
            <div class="input-group mt-3">
                <input type="text" class="form-control" placeholder="Buscar usuario...">
                <div class="input-group-append">
                    <button class="btn btn-success" type="button">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Email</th>
            <th class="text-right"></th>
        </tr>
    </thead>
    <tbody *ngIf="usuarios">
        <tr *ngFor="let usuario of usuarios | paginate: { id: 'usuarios', itemsPerPage: 6, currentPage: p }; index as i;">
            <td>{{usuario.id}}</td>
            <td>{{usuario.nombre}}</td>
            <td>{{usuario.correo}}</td>
            <td>
                <a (click)="deleteUsuario(usuario)" type="button" class="btn btn-outline-danger">
                    <i class="fas fa-times"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table>
<pagination-controls id="usuarios" (pageChange)="p = $event"></pagination-controls>