<form method="get" action="#">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-lg-9">
            <h2 class="mb-4 mt-3">Administracion de usuarios</h2>
        </div>
        <div class="col-md-12 col-sm-12 col-lg-3">
            <div class="input-group mt-3">
                <input type="text" class="form-control" placeholder="Buscar usuario...">
                <div class="input-group-append">
                    <button class="btn btn-success" type="button">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Email</th>
            <th class="text-right"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Fulano</td>
            <td>Fulano@hotmail.com</td>
            <td>
                <button type="button" class="btn btn-outline-danger">
                    <i class="fas fa-times"></i>
                </button>
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td>Mengano</td>
            <td>Mengano@hotmail.com</td>
            <td>
                <button type="button" class="btn btn-outline-danger">
                    <i class="fas fa-times"></i>
                </button>
            </td>
        </tr>
        <tr>
            <td>3</td>
            <td>Juanito</td>
            <td>Juanito@hotmail.com</td>
            <td>
                <button type="button" class="btn btn-outline-danger">
                    <i class="fas fa-times"></i>
                </button>
            </td>
        </tr>
        <tr>
            <td>4</td>
            <td>Pedrito</td>
            <td>Pedrito@hotmail.com</td>
            <td>
                <button type="button" class="btn btn-outline-danger">
                    <i class="fas fa-times"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>