<!--
  Generated template for the PreguntaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Preguntas</ion-title>      
    </ion-navbar>
  </ion-header>


<ion-content padding>
  <strong>
    <ion-label>Preguntas Aprobadas</ion-label> 
  </strong>
  
  <ion-list inset>
      <button ion-item *ngFor="let pregunta of arrayPreguntaAprobada;" (click)="preguntaSelected(pregunta)">
        {{ pregunta.pregunta }}
      </button> 
  </ion-list>

  <strong>
    <ion-label>Preguntas en avaluacion</ion-label>  
  </strong>
  
  <ion-list inset>
      <button ion-item *ngFor="let pregunta of arrayPreguntaNoAprobada;" (click)="preguntaSelected(pregunta)">
        {{ pregunta.pregunta }}
      </button> 
  </ion-list>

</ion-content>
